<div class="jumbotron jumbotron-fluid">
  <div class="container text-center position-relative mb-4">
    <h1 class="display-4">My Burger Joint!</h1>
    <p>Create your own burgers and eat them!</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4 class="uneatenBurgersTitle">Ready Burgers!</h4>
      <ul>
        {{#each burgers}} {{#unless devoured}} <div class="form-control card my-2 bg-warning"><div class="card-body p-0 bg-warning">{{burger_name}}{{> burger-block devoured=true}}</div></div> {{/unless}} {{/each}}
      </ul>
    </div>

    <div class="col-md-6">
      <h4 class="devouredBurgersTitle">Devoured Burgers!</h4>
      <ul>
        {{#each burgers}} {{#if devoured}} <div class="form-control card my-2 bg-warning"><div class="card-body p-0 bg-warning">{{burger_name}}</div></div>{{/if}} {{/each}}
      </ul>
    </div>
  </div>


<h4>Add a Burger</h4>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="burger_name">
  </div>

  <button type="submit" class = "bg-warning text-white">Burger Time!</button>
</form>
</div>