<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-4">My Burger Joint!</h1>
    <p class="lead">Create your own burgers and eat them!</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4 class="uneatenBurgers">Ready Burgers!</h4>
      <ul>
        {{#each burgers}} {{#unless devoured}} <div class="form-control">{{burger_name}}{{> burger-block devoured=true}}</div> {{/unless}} {{/each}}
      </ul>
    </div>

    <div class="col-md-6">
      <h4 class="devouredBurgers">Devoured Burgers!</h4>
      <ul>
        {{#each burgers}} {{#if devoured}} <div class="form-control">{{burger_name}}</div>{{/if}} {{/each}}
      </ul>
    </div>
  </div>
</div>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="burger_name">
  </div>

  <button type="submit">Burger Time!</button>
</form>