.jumbotron {
    margin-bottom: 0px;
    background-image: url(https://i.ytimg.com/vi/0pd0J4m7xVA/maxresdefault.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    height: 14em;
}
.devouredBurgers {
    padding: 5px;
    margin: 2px;
    border: 2px;
    float: right;
}
.uneatenBurgers {
    padding: 5px;
    margin: 2px;
    border: 2px;
    float: left;
}
